@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-info">Thanks!</h1>
    <p class="lead">I was able to run this project.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

